<h1 class="title">{{'RECORD.TITLE'|translate}}<a class="is-pulled-right " href="#/zone/{{$ctrl.zone.name}}"><i class="fas fa-arrow-circle-left"></i>Back</a></h1>
<h2 class="subtitle">{{'RECORD.SUBTITLE'|translate:{'type': $ctrl.record.type} }}{{$ctrl.record.name}}.{{$ctrl.zone.name}}</h2>

<br/>

<div ng-if="!$ctrl.record.token">
	<article class="message is-danger">
	  <div class="message-header"><p>{{'RECORD.NO_TOKEN'|translate}}</p></div>
	  <div class="message-body">{{'RECORD.NO_TOKEN_HINT'|translate}}</div>
	</article>
	<br/>
</div>

<div>
	<h4 class="title is-4">{{'RECORD.API_SIMPLE_TITLE'|translate}}</h4>
	<p>{{'RECORD.API_SIMPLE_DESC'|translate}}</p>
	<article class="message">
		<div class="message-body">
		<span ng-if="$ctrl.record.type == 'A' || $ctrl.record.type == 'AAAA'">
	    # {{'RECORD.API_SIMPLE_BODY1'|translate}}<br/>
	    {{$ctrl.url}}/simple/{{$ctrl.token}}/<br/><br/>
	    </span>
	    
	    # {{'RECORD.API_SIMPLE_BODY2'|translate}}<br/>
	    {{$ctrl.url}}/simple/{{$ctrl.token}}/{{$ctrl.simpleValue}}<br/><br/>
	    
		<span ng-if="$ctrl.record.type == 'A' || $ctrl.record.type == 'AAAA'">
	    # {{'RECORD.API_SIMPLE_BODY3'|translate}}<br/>
	    {{$ctrl.url}}/simple/{{$ctrl.token}}/127.0.0.1,2001:0db8:85a3:0000:0000:8a2e:0370:7334<br/><br/>
	    </span>
	    
	    # {{'RECORD.API_GEN_EXAMPLES'|translate}}<br/>
	    wget --inet4-only -qO - {{$ctrl.url}}/simple/{{$ctrl.token}}/{{$ctrl.simpleSuffix}}<br/>
	    wget --inet6-only -qO - {{$ctrl.url}}/simple/{{$ctrl.token}}/{{$ctrl.simpleSuffix}}<br/>
	    curl -4 {{$ctrl.url}}/simple/{{$ctrl.token}}/{{$ctrl.simpleSuffix}}<br/>
	    curl -6 {{$ctrl.url}}/simple/{{$ctrl.token}}/{{$ctrl.simpleSuffix}}
		</div>
	</article>


</div>